@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
/* Reset */
a, article, body, div, h1, h2, h3, h4, h5, h6, header, hr, html, nav, span, strong {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:root {
	/* Colours*/
	--accent-colour: #E9781C;
	--main-bg-colour: #656575;
	--white-text-colour: #EEE;
	--light-text-colour: #9595a5;
	--light-accent-colour: #ff8e39;
}

a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: var(--accent-colour);
	text-decoration: none;
}
a:hover {
	color: var(--light-accent-colour);
	text-decoration: underline;
}
article {
	border: 1px solid var(--accent-colour);
  border-radius: 25px;
	padding: 1em 3em;
}
body {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	background-color: var(--white-text-colour);
}
h1 {
	color: var(--main-bg-colour);
	font-size: 3.5em;
	font-weight: 600;
}
h2 {
	color: var(--main-bg-colour);
	font-size: 1.5em;
}
h3 {
	color: var(--main-bg-colour);
	font-size: 1.25em;
}
h4 {
	color: var(--white-text-colour);
	font-size: 1em;
}
hr {
	border: 1px solid var(--accent-colour);
}

.previous-next {
		margin-left: 10em;
}
#related-articles {
	margin: 25px auto;
	color: #000;
}

.date {
	font-size: 1em;
	margin-left: 5em;
}

.inner {
	margin: -2px auto;
	width: 80%;
	position: relative;
}
.border {
	width: 80%;
  border-radius: 25px;
	border: 2px solid var(--light-text-colour);
}
#topics .border article:last-child {
	border-left: 2px solid var(--accent-colour);
	padding: 0 4em;
  margin-bottom: 1em;
}

.block {
		color: var(--main-bg-colour);
		width: 30%;
		margin-top: 3em;
}

#banner .inner {
	padding-top: 4em;
}
#post {
	margin: 50px auto;
	width: 80%;
	position: relative;
}
#content {
	margin: -2px auto;
	width: 80%;
	position: relative;
}

/* Header */
#header {
	background: var(--main-bg-colour);
	top: 0;
	color: var(--white-text-colour);
	height: 3.25em;
	line-height: 3.25em;
	position: relative;
	text-align: right;
	width: 100%;
	z-index: 10001;
}

#header .logo {
	display: inline-block;
	font-weight: 400;
	height: inherit;
	left: 0.5em;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	font-size: 1em;
}

#header .logo strong {
	color: var(--accent-colour);
	font-weight: 600;
}

#header a {
	display: inline-block;
	padding: 0 0.75em;
	color: inherit;
}

#header a:hover {
	text-decoration: none;
	color: var(--accent-colour);
}

/* Footer */
.footer .footer-links {
	font-size: 2em;
 	padding: 0 0;
	margin: 0.3em 0 0.5em 0;
}

.footer {
	background: var(--main-bg-colour);
	color: var(--light-text-colour);
	padding: 0.5em;
	text-align: center;
}

.footer .message {
	margin: -2px auto;
	width: 80%;
	position: relative;
	font-size: 0.8em;
}

.footer .footnote {
	font-size: 1em;
}

.footer a {
	padding: 1em;
}

/* Banner */
#banner {
    padding: 4em 0 9em 0;
    /*background-image: url(https://yigurn.github.io/yigurn.github.io/images/me.JPG);*/
		background-image: url("/images/me.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#banner:before {
	content: '';
	background: rgba(75, 75, 93, 0.85);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


#banner h1 {
	color: var(--white-text-colour);
	line-height: 1em;
	margin: 0 0 1em 0;
	padding: 0;
}

#banner h2 {
	font-weight: 400;
	color: var(--white-text-colour);
	margin: 0;
}

#banner p {
	font-size: 1em;
	color: var(--white-text-colour);
	margin-bottom: 1.75em;
    width: 15em;
}
#banner .fas {
	color: var(--accent-colour);
	font-size: 2em;
}

#banner .flex div {
	border-right: 1px solid var(--accent-colour);
	border-left: 1px solid var(--accent-colour);
	padding: 0 4em;
  margin-bottom: 1em;
}

#banner .flex div:last-child {
	border-right: 1px solid var(--accent-colour);
}
#banner .flex div:first-child {
	border-left: 1px solid var(--accent-colour);
}

#banner .flex div p {
	margin: 0;
}

#banner .flex {
	-ms-flex-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	margin: 0 auto 4em auto;
}

/* Flex */
.flex {
	text-align: center;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: justify;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 80%;
	margin-left: 10%;
}

.flex.flex-2 h2 {
	color: var(--main-bg-colour);
	width: inherit;
	text-align: center;
	margin-bottom: 2%;
}

@media screen and (max-width: 980px) {
	.flex.flex-2 article {
		width: 100%;
		margin-bottom: 3em;
	}
	.flex.flex-2 article:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 480px) {
	.flex.flex-2 br {
		display: none;
	}
}

/* Form */
form {
	margin: 0 0 2em 0;
}

form .field {
	margin-bottom: 1.5em;
}

form .field.half {
	display: inline-block;
	width: 30%;
}

form .field.half.first {
	margin-right: 10%;
}

@media screen and (max-width: 980px) {
	form .field.half {
		display: block;
		width: 100%;
    }
	form .field.half.first {
		margin-right: 0;
	}
}

label {
	color: var(--main-bg-colour);
	display: block;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: var(--main-bg-colour);
	border: solid 2px var(--accent-colour);
	color: var(--white-text-colour);
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
	border-color: #a93800;
	box-shadow: 0 0 0 1px #a93800;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: 2em;
}

textarea {
	padding: 0.5em 1em;
	resize: none;
}


#contact {
	width: 40%;
	margin: auto;
	border: 1px solid var(--main-bg-colour);
  border-radius: 25px;
	padding: 0.5em 0;
	color: var(--main-bg-colour);
	text-align: center;
}

#contact h3 {
	margin-bottom: 0.5em !important;
}

#contact label {
	text-align: left;
}


/* Timeline */
#timeline {
  height: 12em;
}

#timeline .roles {
  position: relative;
  display: block;
	height: 115px;
  width: auto;
  top: 30px;
	background: var(--main-bg-colour);
	border-top: 3px solid var(--accent-colour);
}

#timeline li {
	position: relative;
	display: inline-block;
  float: center;
	width: 28%;
  top: 10px;
  left: 12%;
	color: var(--light-text-colour);
}

#timeline ol .section {
  position: absolute;
  top: -60px;
	left: 10%;
  font-size: 20px;
  font-weight: 900;
	color: var(--main-bg-colour);
}

#timeline li .description {
  color: var(--white-text-colour);
  margin: 7px 0;
}

#timeline li .point {
  top: -19px;
  left: 30px;
	width: 8px;
	height: 8px;
	border: 4px solid var(--accent-colour);
	border-radius: 10px;
	background: var(--white-text-colour);
  position: absolute;
}

@media screen and (max-width: 1440px) {
	#timeline .roles{
		height: 105px;
    }
}

/* Image */
.image {
	border-radius: 0;
	border: 0;
	position: relative;
}

.image img {
	border-radius: 0;
	width: 100%;
	height: 10em;
	border: 2px solid var(--main-bg-colour);
	object-fit: cover;
}

.image.round img {
	border-radius: 5%;
}

img {
	position: relative;
	display: block;
	margin: auto;
}

.left {
	float: left;
	display: inline;
}
.right {
	float: right;
	display: inline;
}

.active {
	background-color: var(--accent-colour);
}
