/* Reset */
a, body, div, h1, h2, h3, h4, h5, h6, header, html, nav, span, strong {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Footer */
#social .message {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
	margin: 0 0 0.75em 0;
	padding: 0;
}

#social .message a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

#social .message a:hover {
	color: #FFF;
}

@media screen and (max-width: 980px) {
	#footer {
		padding: 4em 0;
	}
}
@media screen and (max-width: 736px) {
	#footer {
		padding: 3em 0;
    }
}

#social .footnote {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1em;
	margin: 0 0 0.75em 0;
	padding: 0;
}
