/* Reset */
a, body, div, h1, h2, h3, h4, h5, h6, header, html, nav, span, strong {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

/* Header */
.header {
	top: 0;
	background: #656575;
	color: #fff;
	height: 3.25em;
	line-height: 3.25em;
	position: absolute;
	text-align: right;
	width: 100%;
	z-index: 10001;
}

.header .inner {
	margin: 0 auto;
	width: 80%;
	position: relative;
}

.header .logo {
	display: inline-block;
	font-weight: 400;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	font-size: 1em;
}

.header .logo strong {
	color: #e9781c;
	font-weight: 600;
}

.header a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	display: inline-block;
	padding: 0 0.75em;
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

.header a:hover {
	color: #e9781c;
}

.header a:last-child {
	padding-right: 0;
}


/* Footer */
.footer {
	background: #656575;
	padding: 0.5em;
	background: #555;
	text-align: center;
}

.footer .footer-links {
	font-size: 2em;
 	padding: 0 0;
	margin: 0 0 0.75em 0;
}

.footer .message {
	font-size: 0.8em;
}

.footer .footnote {
	font-size: 1em;
}

.footer a {
	color: #e9781c;
	text-decoration: underline;
}

.footer a:hover {
	color: #ff8e39;
	text-decoration: none;
}
