@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
/* Reset */
a, body, div, h1, h2, h3, h4, h5, h6, header, html, nav, span, strong {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
/* Header */
.header {
	background: #656575;
	color: #fff;
	height: 3.25em;
	line-height: 3.25em;
	position: absolute;
	text-align: right;
	width: 100%;
	z-index: 10001;
}

.header .inner {
	margin: -2px auto;
	width: 80%;
	position: relative;
	border-bottom: 2px solid #e9781c;
}

.header .logo {
	display: inline-block;
	font-weight: 400;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	font-size: 1em;
}

.header .logo strong {
	color: #e9781c;
	font-weight: 600;
}

.header a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	display: inline-block;
	padding: 0 0.75em;
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

.header a:hover {
	color: #e9781c;
}

.header a:last-child {
	padding-right: 0;
}

/* Footer */
.footer .footer-links {
	 font-size: 2em;
 	padding: 0 0;
	margin: 0 0 0.75em 0;
}

.footer {
	background: #656575;
	padding: 0.5em;
	text-align: center;
}

.footer .message {
	font-size: 0.8em;
}

.footer .footnote {
	font-size: 1em;
}

.footer a {
	color: #e9781c;
	text-decoration: underline;
}

.footer a:hover {
	color: #ff8e39;
	text-decoration: none;
}

/* Banner */
#banner {
    padding: 4em 0 9em 0;
    background-image: url(/images/me.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#banner:before {
	content: '';
	background: rgba(75, 75, 93, 0.85);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#banner .inner {
	margin: 0 auto;
	position: relative;
	z-index: 10005;
	padding-top: 4em;
	width: 80%;
}

#banner h1 {
	font-size: 3.5em;
	font-weight: 400;
	color: #fff;
	line-height: 1em;
	margin: 0 0 1em 0;
	padding: 0;
}

#banner h3 {
	font-weight: 400;
	color: #fff;
	margin: 0;
	font-size: 1.5em;
}

#banner p {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.55);
	margin-bottom: 1.75em;
    width: 15em;
}
#banner .fas {
	color: #e9781c;
	font-size: 2em;
}

#banner .flex div {
	border-right: 1px solid rgba(233, 120, 28, 1);
		border-left: 1px solid rgba(233, 120, 28, 1);
	padding: 0 4em;
    margin-bottom: 1em;
}

#banner .flex div:last-child {
	border-right: 1px solid rgba(233, 120, 28, 1);
}
#banner .flex div:first-child {
	border-left: 1px solid rgba(233, 120, 28, 1);
}

#banner .flex div p {
	margin: 0;
}

#banner .flex {
	-ms-flex-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto 4em auto;
}

/* Flex */
.flex {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: justify;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}
