---
layout: default
title: Joshua Lewis
permalink: /about/
---
<!-- Banner -->
<div class="inner">
	<header class="info">
    <h1>Design. Build. Test.</h1>
	</header>
	<div class="flex">
		<div>
			<span class="icon fa-tachometer"></span>
      <h3>I am a software tester currently based in Nottingham. My passion has always been
around problem solving, and I am always looking for something to utilise and develop
 my mathematical and analytical skills.</h3>
		</div>
		<div>
			<span class="icon fa-gears"></span>
			<p>Since 2008 I have been playing the drums in a band, performing across the UK and Europe.
 This has led me to many amazing places with wonderful people, experiencing unique adventures.
 Since moving to London I have moved towards solo projects and collaberations with other
musicians due to the logistics of space.
			<br/><br/>
I have a strong interest in electronics and programming, a few achiements that I am proud of can be seen on the projects tab.</p>
		</div>
	</div>
</div>
{% include timeline.html %}

<!-- Topics -->
<section id="topics" class="wrapper align-left">
	<div class="inner">
		<div class="flex flex-2">
			<article>
        <h4>Technical Toolkit</h4>
        <ul>
          <li><b>Testing Software</b> - HP LoadRunner, Jmeter, Gatling, Selenium</li>
          <li><b>Scripting/Coding</b> - C#, Java, Python, Scala, JavaScript, SQL</li>
        	<li><b>MS Office</b> - Word, Excel, Powerpoint</li>
          <li><b>Other</b> - Matlab, Android SDK, Eclipse, Visual Studio, Github</li>
        </ul>
			</article>
			<article>
      <h4>Skills</h4>
        <ul>
          <li>Problem Solving</li>
          <li>Communication</li>
          <li>Organisation</li>
          <li>Passion</li>
        </ul>
			</article>
		</div>
	</div>
</section>
{% include contact.html %}
