---
layout: default
title: Joshua Lewis | Projects
permalink: /projects/
---

<div  class="flex flex-2">
  {% for post in site.posts %}
  <a href="{{ post.url }}" class="block">
    <article>
      <header>
        <h2>{{ post.title }}</h2>
      </header>
      <div class="image">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.title }}">
        {% endif %}
      </div>
      <p class="date">Posted on {{ post.date | date: "%B %d, %Y" }}</p>
      <p>{{ post.subtitle }}</p>
    </article>
  </a>
  {% endfor %}
</div>

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
