<section id="banner">
	<div class="inner">
		<header>
			<h1>Midlands Software Analyst</h1>
		</header>
		<div class="flex">
			<div>
				<i class="fas fa-code"></i>
				<h2>Coder</h2>
				<p>Practised in Java and C#, worked with mobile, APIs, cloud.</p>
			</div>
			<div>
				<i class="fas fa-tachometer-alt"></i>
				<h2>Tester</h2>
				<p>Software analyst with a focus on performance testing.</p>
			</div>
			<div>
				<i class="fas fa-music"></i>
				<h2>Musician</h2>
				<p>Drummer, performed across the UK and Europe in a noise/rock band.</p>
			</div>
			<div>
				<i class="fas fa-dice-d20"></i>
				<h2>Tinkerer</h2>
				<p>Modifying and creating objects that interest me.</p>
			</div>
		</div>
		<footer>
			<a href="/about/" class="button">View More...</a>
		</footer>
	</div>
</section>
