<header id="header">
  <div class="inner">
    <a href="{{ site.url }}/index.html" class="logo"><strong>Joshua</strong> Lewis</a>
    <nav id="nav">
      <a {% if page.url == "/about/" %} class="active"{% endif %} href="/about/">About</a>
      <a {% if page.url == "/projects/" %} class="active"{% endif %} href="/projects/">Projects</a>
      <a {% if page.url == "/blog/" %} class="active"{% endif %} href="/blog/">Blog</a>
      <a href="{{ site.url }}/index.html#contact">Contact</a>
    </nav>
    <hr>
  </div>
</header>
