<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="css/brands.min.css" >
			<link rel="stylesheet" type="text/css" href="css/fontawesome.min.css">
			<link rel="stylesheet" type="text/css" href="css/solid.min.css">
		</head>
		<body>
			<header id="header">
           		<div class="inner">
					<a href="index.html" class="logo"><strong>Joshua</strong> Lewis</a>
					<nav id="nav">
						<a href="/about/index.html">About</a>
						<a href="/projects.html">Projects</a>
						<a href="/blog/index.html">Blog</a>
						<a href="/index.html#contact">Contact</a>
					</nav>
				</div>
			</header>
			
		</section id="banner">
			<div class="container">			
				{{ content }}			
			</div>
		{% include footer.html %}
		</body>
	</html>
