<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header id="header">
           		<div class="inner">
					<a href="index.html" class="logo"><strong>Joshua</strong> Lewis</a>
					<nav id="nav">
						<a href="/about/index.html">About</a>
						<a href="/projects.html">Projects</a>
						<a href="/blog/index.html">Blog</a>
						<a href="/index.html#contact">Contact</a>
					</nav>
				</div>
			</header>
			<div class="container">			
				{{ content }}			
			</div>
<!-- Social -->
        	<footer id="social">
            	<div id="icon-wrap">
					<a href="mailto:Joshua.B.Lewis@outlook.com">email</a>
                	<a href="https://www.linkedin.com/in/joshua-b-lewis/">Linkedin</a>
                	<a href="https://www.github.com">Github</a>
                	<a href="https://vinolent.bandcamp.com/">Bandcamp</a>
            	</div>
            	<div class="info">
                	<div class="message">
						Website is currently a work in progress, excuse the mess.
                	</div>
					<div class="footnote">
                    	Joshua Lewis <span class="highlight">@2020</span>
                	</div>
            	</div>
        	</footer>
		</body>
	</html>
