<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav id="nav">
                   		<a href="about.html">About</a>
                   		<a href="wedpage2.html">Webpage 2</a>
                   		<a href="projects.html">Projects</a>
                   		<a href="blog.html">Blog</a>
                   		<a href="index.html#contact">Contact</a>
                	</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:Joshua.B.Lewis@outlook.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/Yigurn</a></li>
				</ul>
			</footer>
		</body>
	</html>
